// Load Bulma's base styles and themes (including the minireset)
@use "third_party/bulma/sass" as bulma with (
    $family-primary: '"Red Hat Text", "Lato", sans-serif',
    $primary: #4c956c,
    $white: #ffffff,
    $grey: #1e212b,
    $yellow: #d8a64e,
    $cyan: #00a7e1
);

@use "sass/fonts";
@use "sass/notifications";
@use "sass/timepicker";
@use "sass/modifiers";
@use "sass/location_definer";
@use "sass/global";
