@use "animations";

$location-column-height: 75vh;
$animation-duration: 0.4s;
$animation-delay: 0.2s;

.location-definer-buttons {
    z-index: 2;
    width: max-content;
    margin-left: auto;

    animation: fadeIn $animation-duration ease-out $animation-delay both;
}

#location-definer-root {
    margin-top: auto;
    margin-bottom: auto;

    .location-definer-column {
        .location-definer-column-content {
            height: $location-column-height;
            overflow: scroll;
        }

        animation: fadeIn $animation-duration ease-out $animation-delay both;
    }
}
