@use "sass:color";
@use "../third_party/bulma/sass" as bulma;
@use "../third_party/bulma/sass/utilities/mixins" as bulma_mixins;

.is-pinned-to-right-bot {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    @include bulma_mixins.touch {
        right: 1rem;
        bottom: 1rem;
    }
}

.is-centered-vertically-in-parent {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

//
/// Definitions for selectable element
//

$selected_border_width: calc(bulma.$gap / 10);

.location {
    .card-header {
        background-color: bulma.$info;
    }
}

.selectable {
    cursor: pointer;
    transition: transform 0.5s ease;

    .location .card-header:hover {
        background-color: color.adjust(bulma.$info, $lightness: 15%);
    }
}

.selected {
    transform: scale(1.05);
    .location {
        box-shadow: 0 0 5px color.adjust(bulma.$info, $alpha: 0.5);
        .card-header {
            background-color: color.adjust(
                bulma.$info,
                $lightness: 10%
            ) !important;
        }
    }
}

.tag.is-danger {
    box-shadow: 0 0 0.3rem color.adjust(bulma.$danger, $alpha: 0.4);
}

.tag.is-primary {
    box-shadow: 0 0 0.3rem color.adjust(bulma.$success, $alpha: 0.4);
}
